.container-sobrenos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 50px 20px 50px 20px;
    gap: 30px;
}
.container-sobrenos .divisao-itens{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-sobrenos .container-text-title-sobrenos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-sobrenos .container-sobrenos-itens, .container-sobrenos .container-sobrenos-itens2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container-sobrenos .texts-sobrenos{
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    gap: 10px;
}

.container-text-title-sobrenos .text-title-sobrenos{
    font-family: "Sora", serif;
    font-weight: 500;
    font-size: 50px;
    color: #407bff;
}

.text-title-sobrenos .destaque-somos{
    color: #000000;
    font-weight: 300;
}

.destaque-trinity{
    color: #407bff;
    font-weight: 500;
}

.texts-sobrenos .text-subtitle-sobrenos{
    font-family: 'Poppins';
    color: #000000;
    font-weight: 400;
    font-size: 36px;
}

.texts-sobrenos .text-subtitle2-sobrenos{
    font-family: 'Poppins';
    color: #797979;
    font-weight: 400;
    font-size: 18px;
}

.container-sobrenos-itens2 .img-foguete{
    width: 480px;
    height: 480px;
}

@media (max-width: 1120px) {

    .container-sobrenos{
        justify-content: center;
    }
    
    .container-sobrenos .container-sobrenos-itens,.container-sobrenos .container-sobrenos-itens2 {
        flex-direction: column;
        margin: 20px 0px 20px 0;
    }
}

@media (max-width: 500px) {
    .container-sobrenos-itens2 .img-foguete, .container-sobrenos-itens .img-engrenagem{
        width: calc(480px * 0.70);
        height: calc(480px * 0.70);
    }
}