.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.8s ease-out, transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    will-change: transform, opacity;
}

/* O estado final (visível) que será ativado */
.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}