.rodape-box{
    position: absolute;
    left: 0;
    margin-top: 120vh;
    width: 100%;
    height: 100px;
    background-color: #407bff;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rodape-box .madefor-trinity-text, .direitos-text{
    font-family: 'VisbyRoundCF-Regular';
    color: white;
}