.rodape-box{
    background-color: #407bff;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.rodape-box .madefor-trinity-text, .direitos-text{
    font-family: 'VisbyRoundCF-Regular';
    color: white;
}