.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 75px;
    background-color: #407bff;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all 300ms ease;
}

.topbar.scrolled {
  box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.1), 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.topbar .imgmenu {
    display: none;
}

.topbar .imglogo {
    margin-top: 5px;
    cursor: pointer;
}

.topbar nav>ul.menu-list {
    display: flex;
    list-style-type: none;
}

.topbar nav ul li a {
    cursor: pointer;
    height: 75px;
    font-family: "Figtree", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #f0f0f0;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.topbar nav ul li a:hover {
    background-color: #c2c3c4;
    color: #407bff;
}

.drop-hover-nov,
.drop-hover-cliente {
    position: relative;
}

.drop-hover-nov .drop,
.drop-hover-cliente .drop {
    position: absolute;
    background-color: #c2c3c4;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.drop-hover-nov:hover .drop,
.drop-hover-cliente:hover .drop {
    height: 75px;
    background-color: #407bff;
}


.drop-hover-nov-mobile,
.drop-hover-cliente-mobile {
    position: relative;
}

.drop-hover-nov-mobile .drop-mobile,
.drop-hover-cliente-mobile .drop-mobile {
    position: absolute;
    background-color: #c2c3c4;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.drop-hover-nov-mobile:hover .drop-mobile,
.drop-hover-cliente-mobile:hover .drop-mobile {
    height: 80px;
    right: 0px;
    background-color: #c0c0c0;
    z-index: 9999;
}

.menu-list .menu-itens {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #407bff;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar-mobile li {
    width: 100%;
}

.sidebar-mobile a {
    width: 100%;
    justify-content: left !important;
}

.sidebar-mobile.active {
    display: flex;
}

@media (max-width: 1120px) {
    .topbar .imgmenu {
        display: flex;
    }

    .topbar .solucaobutton,
    .topbar .drop-hover-nov,
    .topbar .trinitybutton,
    .topbar .drop-hover-cliente,
    .topbar .contatobutton {
        display: none;
    }

    .topbar {
        justify-content: space-around;
    }
}