.topbar {
    position:absolute;
    top: 0;
    left: 0; 
    height: 80px;
    width: 100%;
    background-color: #407bff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.topbar .imglogo {
    margin-top: 5px;
    cursor: pointer;
}

.topbar nav ul{
    display: flex;
    list-style-type: none;
}

.topbar nav ul li a {
    cursor: pointer;
    height: 80px;
    font-family: "Sora", serif;
    font-weight: 600;
    font-size: 15px;
    font-style: normal;
    color: #f0f0f0;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
}

.topbar nav ul li a:hover{
    background-color: #c2c3c4;
    color: #407bff;
}

.drop-hover-nov, .drop-hover-cliente{
    position: relative;
}

.drop-hover-nov .drop, .drop-hover-cliente .drop{
    position: absolute;
    background-color: #c2c3c4;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.drop-hover-nov:hover .drop, .drop-hover-cliente:hover .drop{
    height: 160px;
    background-color: #407bff;
}

.menu-list .menu-itens{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 760px) {
    .topbar{
        height: 60px;
    }

    .topbar nav ul li a{
        height: 60px;
        font-size: 12px;
    }

    .topbar .imglogo img{
        scale: 0.7;
    }
}