.menu-content {
    margin-top: 25vh;
    margin-bottom: 25vh;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease-out forwards;
}

.itens-text {
    margin-top: 10px;
    max-width: 700px;
}

.menu-text-title {
    padding: 0px 40px 0px 40px;
    font-family: "Sora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: left;
    color: #407bff;
}

.menu-text-title .destaque {
    font-weight: 600;
}

.menu-text-subtitle {
    font-family: "Sora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    padding: 40px 40px 40px 40px;
    color: rgb(58, 56, 56);
}

.menu-text-subtitle .destaque{
    font-weight: 600;
}

.buttons-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.button-solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #f0f0f0;
    background-color: #407bff;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 9px 5px rgba(0,0,0,0.1);
}

.button-solucao:hover, .button-faleconosco:hover{
    background-color: #3772b6;
}

.button-faleconosco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    height: 70px;
    color: #f0f0f0;
    background-color: #a6a6a6;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    box-shadow: 0px 9px 5px rgba(0,0,0,0.1);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1121px) {
    .menu-content{
        margin-top: 10vh;
        margin-bottom: 10vh;
        flex-direction: column-reverse;
    }
}

