.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease-out forwards;
}

.itens-text {
    margin-top: 10px;
    max-width: 700px;
}

.menu-text-title {
    padding: 0px 40px 0px 40px;
    font-family: 'VisbyRoundCF-Bold';
    font-size: 40px;
    text-align: left;
    color: #407bff;
}

.menu-text-subtitle {
    font-family: 'VisbyRoundCF-Regular';
    font-size: 20px;
    text-align: left;
    padding: 40px 40px 40px 40px;
    color: grey;
}

.buttons-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.button-solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #f0f0f0;
    background-color: #407bff;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.button-faleconosco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    height: 70px;
    color: #f0f0f0;
    background-color: #a6a6a6;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    animation: breathe 2.5s infinite ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}