.menu-content {
    margin-top: 25vh;
    margin-bottom: 25vh;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease-out forwards;
}

.itens-text {
    margin-top: 10px;
    max-width: 700px;
}

.menu-text-title {
    padding: 0px 40px 0px 40px;
    font-family: "Sora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    text-align: left;
    color: #407bff;
}

.menu-text-title .destaque {
    font-weight: 600;
}

.menu-text-subtitle {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    padding: 40px 40px 40px 40px;
    color: #53535A
}

.menu-text-subtitle .destaque {
    font-weight: 600;
}

.buttons-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.button-solucao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #f0f0f0;
    background-color: #407bff;
    border: 2px solid #407bff;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.button-solucao:hover{
    background-color: #3772b6;
}
.button-faleconosco:hover {
    background-color: #dddddd;
}

.button-faleconosco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 50px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2577f1;
    background-color: #f0f0f0;
    border: 2px solid #c4c4c4;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width: 1121px) {
    .menu-content {
        margin-top: 10vh;
        margin-bottom: 10vh;
        flex-direction: column-reverse;
    }

    .buttons-text {
        flex-direction: column;
    }

    .button-faleconosco,
    .button-solucao {
        margin: 10px;
    }

    .menu-text-title {
        padding: 20px;
    }

    .menu-text-subtitle {
        padding: 20px;
    }

}

@media (max-width: 510px) {
    .menu-content .menu-img img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .menu-content .menu-img {
        margin-top: 20px;
    }
}