.wrapper {
    position: fixed;
    bottom: 120px;
    right: 20px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    margin: 10px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .wrapper.show {
    right: 20px;
  }
  .wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  header i {
    color: #407bff;
    font-size: 32px;
  }
  header h2 {
    color: #407bff;
    font-weight: 500;
    font-family: 'Poppins';
    margin: 0;
  }
  .wrapper .data {
    margin-top: 10px;
  }
  .wrapper .data p {
    color: #333;
    font-size: 16px;
    font-family: 'Poppins';
  }
  .data p a {
    color: #407bff;
    text-decoration: none;
  }
  .data p a:hover {
    text-decoration: underline;
  }
  .wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .buttons .button {
    border: none;
    color: #fff;
    font-family: 'Poppins';
    padding: 8px 0;
    border-radius: 4px;
    background: #407bff;
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.2s ease;
  }
  .buttons #acceptBtn:hover {
    background-color: #034bf1;
  }
  #declineBtn {
    
    background-color: #c7c7c7;
    color: #ffffff;
  }
  #declineBtn:hover {
    background-color: #407bff;
    color: #fff;
  }

  @media (max-width: 500px) {
    .wrapper{
      width: auto;
      height: auto;
    }
  }