.solutions {
    background: #FFFFFF;
    /* padding: 6rem 0; */
    font-family: "Figtree", sans-serif;
    padding-bottom: 5rem;
}

.container-stats {
    /* width: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.section-header {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* margin-bottom: 4rem; */
}

.section-title {
    /* margin-bottom: 1.5rem; */
    font-weight: 600;
    font-size: 39px;
    margin: 0;
}

.section-description {
    /* max-width: 600px;
    margin: 0 auto; */
    max-width: 600px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.125rem;
    color: #676f79;
}

.section-subtitle {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1E56A0;
    /* margin-bottom: 1rem; */
}

.solutions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.solution-card {
    background: #FFFFFF;
    padding: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #F1F5F9;
    transition: all 300ms ease;
}

.solution-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(30, 86, 160, 0.15);
    border-color: transparent;
}

.solution-icon {
    width: 60px;
    height: 60px;
    background:#ecf3fa;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    color: #407bff;
}

.solution-card:hover .solution-icon {
    background:#407bff;
    color: #FFFFFF;
}

.solution-title {
    margin-bottom: 1rem;
    font-size: 18px;
}

.solution-description {
    font-size: 16px;
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 500;
    color: #676f79;
}