.box-contato {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    padding-bottom: 20px;
}

.box-contato .itens-contato-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itens-contato-box .contato-text {
    display: flex;
    height: auto;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
}

.contato-text .text-title {
    font-family: "Sora", serif;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}

.text-title .destaque {
    color: #407bff;
    font-weight: 600;
}

.destaque2{
    color: red;
}

.contato-text .text-subtitle{
    padding-top: 10px;
    font-family: 'Poppins';
    color: #797979;
    font-weight: 400;
    font-size: 18px;
}

.itens-contato-box .contato-form {
    margin: 20px 20px 20px 20px;
}

.contato-form .form {
    display: flex;
    align-items: center;
    max-width: 407px;
    flex-direction: column;
    border-radius: 9px;
    background-color: #ffffff;
    box-shadow: rgba(128, 128, 128, 0.14) 0px 0px 20px;  
}

.contato-form .inputsolucao,
.inputnome,
.inputemail,
.inputcpfcpnj,
.inputtelefone, .inputmensagem {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;

    a {
        padding-left: 5px;
    }

}

.contato-form .inputcpfcpnj input,
.contato-form .inputnome input,
.contato-form .inputemail input,
.contato-form .inputtelefone input,
.contato-form .inputsolucao select,
.contato-form .inputmensagem textarea
 {
    width: 366px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    font-family: 'Poppins';
    background-color: #f0f0f0;
}

.contato-form .inputmensagem textarea{
    height: auto;
    resize: none;
}
.container-button .submit-btn {
    background-color: #407bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 366px;
    height: 50px;
    font-size: 16px;
    border-radius: 9px;
    font-family: 'Poppins';
    margin: 10px 0px 10px 0px;
}

.form .form-success {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aef8ab;
    width: 100%;
    border-radius: 7px;
    height: 50px;
    gap: 10px;
}

.form-success a {
    font-family: 'Poppins';
    font-size: 15px;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@media (max-width: 1120px) {

    .box-contato{
        justify-content: center;
        padding: 0px 10px 0px 10px;
    }

    .box-contato .itens-contato-box {
        flex-direction: column;
        margin: 20px 0px 20px 0;


    }
}

@media (max-width: 524px) {
    .itens-contato-box .contato-text {
        width: auto;
        padding: 10px;
    }

    .contato-form .inputcpfcpnj input,
    .contato-form .inputnome input,
    .contato-form .inputemail input,
    .contato-form .inputtelefone input,
    .contato-form .inputsolucao select,
    .contato-form .inputmensagem textarea
    {
        width: 80vw;
    }

    .container-button .submit-btn {
        width: 80vw;
    }


}