.box-itens {
    background-color: #407bff;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    border-radius: 9px;
}

.text-solucao {
    padding: 80px;
    font-family: "Sora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #f0f0f0;
    text-align: center;
}

.text-solucao .destaque {
    font-weight: 700;
}

.itens-solucao {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-informatica {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.box-informatica:hover {
    height: 400px;
}

.box-informatica .img-box {
    position: absolute;
    top: 10px;
}

.box-informatica:hover .img-box {
    top: -100px;
    scale: 0.75;
    transition: 0.5s;
}

.box-informatica .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-informatica .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 220px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.content .title-item {
    font-family: "Sora", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #407bff;
}

.content .subtitle-item {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
}

.box-informatica:hover .content {
    top: 130px;
    height: 250px;
}



.box-seguranca {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.box-seguranca:hover {
    height: 400px;
}

.box-seguranca .img-box {
    position: absolute;
    top: 10px;
}

.box-seguranca:hover .img-box {
    top: -100px;
    scale: 0.75;
    transition: 0.5s;
}

.box-seguranca .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-seguranca .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 220px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.box-seguranca:hover .content {
    top: 130px;
    height: 250px;
}

.box-sistema {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.box-sistema:hover {
    height: 400px;
}

.box-sistema .img-box {
    position: absolute;
    top: 10px;
}

.box-sistema:hover .img-box {
    top: -100px;
    scale: 0.75;
    transition: 0.5s;
}

.box-sistema .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-sistema .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 220px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 60px;
    overflow: hidden;
    transition: 0.5s;
}

.box-sistema:hover .content {
    top: 130px;
    height: 250px;
}

.box-informatica .read-more {
    width: 200px;
    background-color: #407bff;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'VisbyRoundCF-Bold';
}

.box-seguranca .read-more {
    width: 200px;
    background-color: #407bff;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'VisbyRoundCF-Bold';
}

.box-sistema .read-more {
    width: 200px;
    background-color: #407bff;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'VisbyRoundCF-Bold';
}