.box-itens {
    background-color: #407bff;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    border-radius: 9px;
}

.text-solucao {
    padding: 80px;
    font-family: "Sora", serif;
    font-size: 32px;
    color: #f0f0f0;
    text-align: center;
}

.text-solucao .destaque {
    font-weight: 700;
}

.itens-solucao {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.solucao-box {
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    overflow: visible;
    transition: height 0.4s ease;
    will-change: transform;
    display: flex;
    justify-content: center;
}

.solucao-box:hover {
    height: 400px;
}

.img-box {
    position: absolute;
    top: 10px;
    transition: transform 0.4s ease;
    will-change: transform;
}


.solucao-box:hover .img-box {
    transform: translateY(-70px) scale(0.80);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
    height: 60px;
    overflow: hidden;
    transition: all 0.4s ease;
    will-change: transform;
}

.solucao-box:hover .content {
    top: 130px;
    height: 250px;
}

.title-item {
    font-family: "Sora", serif;
    font-size: 30px;
    color: #407bff;
    font-weight: 500;
}

.subtitle-item {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #53535A;
    margin: 5px;
}

.read-more {
    width: 200px;
    background-color: #407bff;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'VisbyRoundCF-Bold', sans-serif;
}

.read-more:hover {
    background-color: #305fdd;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
  }
  
  .reveal {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

@media (max-width: 1120px) {

    .solucao-box {
        width: calc(350px * 0.80);
        height: calc(300px * 0.80);
    }

    .solucao-box .content {
        top: 180px;
    }

    .solucao-box .img-box {
        display: flex;
        justify-content: center;
    }

    .solucao-box .img-box img {
        width: calc(100% * 0.80);
    }

    .solucao-box:hover .img-box {
        transform: translateY(-40px) scale(0.90);
    }
}

@media (max-width: 900px) {

    .box-itens {
        padding-bottom: 100px;
    }

    .text-solucao{
        font-size: 28px;
        padding: 50px 0px 50px 20px;
    }
    .itens-solucao {
        flex-direction: column;
        margin: 0;
    }

    .solucao-box {
        width: 90%;
        height: 210px;
        justify-content: left;
        transition: none;
        margin-bottom: 20px;
    }

    .solucao-box .content {
        gap: inherit;
        position: inherit;
        top: inherit;
        width: inherit;
        padding: inherit;
        height: inherit;
        overflow: inherit;
        transition: none;
        justify-content: center;
    }

    .solucao-box:hover .content {
        top: inherit;
        height: inherit;
    }

    .solucao-box:hover {
        height: 210px;
    }

    .solucao-box .img-box {
        position: relative;
        top: inherit;
        transform: scale(0.75);
    }

    .solucao-box:hover .img-box {
        transform: none;
    }

    .solucao-box .img-box img {
        width: 100%;
        height: 100%;
        object-fit: inherit;
    }
}

@media (max-width: 512px) {

    .text-solucao{
        font-size: 27px;
        padding: 30px 0px 30px 0px;
    }

    .title-item {
        font-size: 20px;
    }
    
    .subtitle-item {
        font-size: 14px;
    }

    .read-more {
        width: 150px;
    }


}